.koi{
    display: flex;
    flex-direction: column;

    &__list{
        display: flex;
    }

    &__page{
        margin-top: 10px;
        text-align: center;

        button{
            border-radius: 10px;
        }
    }
}