.header__welcome-logout {
    display: flex;
    align-items: center;
  }
  
  .logout-box {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .user-menu-container {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
  }
  
.Logout-template{
    cursor: pointer;
    color: white;
}  
  
.user-menu {
    position: absolute;
    top: 25px; // Đặt menu ngay bên dưới icon user (chỉnh giá trị này nếu cần)
    left: 50%; // Đặt ở giữa phần tử chứa
    transform: translateX(-50%); // Dịch chuyển để căn giữa
    
    background-color: rgba(255, 255, 255,0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 15px; // Tăng padding để menu rộng hơn
    width: 150px; // Tăng chiều rộng menu
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    
  
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  
      li {
        padding: 10px 15px; // Tăng khoảng cách bên trong các mục menu
        cursor: pointer;
        color: #333;
        font-size: 16px;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  