.body{
    background-color: rgba(231, 212, 212, 0.3);
    
    &__banner {
        background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2335da3c-0b92-4efd-8589-97cab1d3c2ea/dgfob7i-676713ac-ee25-4218-8ff8-ec07e46df8b8.jpg/v1/fill/w_1154,h_692,q_75,strp/koi_pond___ai_wallpaper_by_marwil_arts_dgfob7i-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjkyIiwicGF0aCI6IlwvZlwvMjMzNWRhM2MtMGI5Mi00ZWZkLTg1ODktOTdjYWIxZDNjMmVhXC9kZ2ZvYjdpLTY3NjcxM2FjLWVlMjUtNDIxOC04ZmY4LWVjMDdlNDZkZjhiOC5qcGciLCJ3aWR0aCI6Ijw9MTE1NCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iP5PGBM2h58oRyikq_KIwWgNEwUFtL0vyGUwwVdSFXo");
        height: 730px;
        width: 100%;
        padding-top: 200px;
        padding-left: 200px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat; /* Ngăn không cho hình lặp lại */
        background-size: cover; /* Điều chỉnh kích thước hình để bao phủ toàn bộ */
    }
    

    &__slogan{
        text-align: center;
        background-color: rgba(248, 61, 61, 0.5);
        border-radius: 50px;
        width: 220px;
        border: 3px solid rgba(0, 0, 0, 0.6);
        height: 475px;
        backdrop-filter: blur(12px);

        .slogan1{
            display: block;
            width: 210px;
            color: rgb(0, 0, 0);
            font-size: 70px;
        }

        .slogan2{
            text-align: center;
            display: block;
            width: 210px;
            color: rgb(255, 255, 255);
            font-size: 45px;
            
        }
    }

    &__list{
        padding: 0 10px;
    }

    
}