.header{
    background-color: rgba(165, 165, 9, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9px);
    

    &__navigate{
        ul{
            display: flex;
            gap: 50px;

            a{
                list-style: none;
                text-decoration: none;
                font-size: 22px;
                color: black;
                font-weight: 400;

                &:hover{
                    color: white;
                    &::after{
                        width: 100%;
                        
                    }
                }

                &::after{
                    content: "";
                    display: block;
                    
                    width: 0;
                    height: 3px;
                    background-color: rgb(255, 255, 255);
                    transition: all 0.3s;
                }
            }
        }
    }

    &__welcome-logout{
        .logout-box{
            display: flex;
            gap: 30px;

            li{
                list-style: none;
                cursor: pointer;
                text-decoration: underline;
                color: rgb(255, 255, 255);
            }
            
        }
    }
}